* {
    font-family: 'Press Start 2P', cursive;
    margin:0px;
    padding:0px;
}

body {
    background:black;
    color:white;
    
}

.bg-image {

    max-width: 100%;
    max-height: 100%;
    z-index: -3;
}

.top-container{
    position:relative;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size:3vi;
    color:red;
    text-shadow: rgb(208, 36, 36) 0 0 .25em;
    transform: translate(-50%, -50%);
}

#initials-title {
    width:75vi;
    bottom:26vi;
}

#initials-input {
    width:12vi;
    height:3vi;
    bottom:23vi;
    left:45vi;
    text-align:center;
    font-size: 2vi;
    color:white;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 4px;
    text-shadow: white 0 0 .25em;
    box-shadow: rgb(208, 36, 36) 0 0 .25em;
}

#submit-button {

    bottom:23.5vi;
    left:42.5vi;
    height:3vi;
    width:8vi;
    font-size: 1.25vi;
}


.bottom-container{
    position:absolute;
    width:40vi;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
}



#scores-title {
    position:relative;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
    width:45vi;
    top: -8vi;
    animation: text-blink 1s linear infinite;


}
  
@keyframes text-blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}



.score-list {
    text-shadow: white 0 0 .25em;
}

#initials-list {
    position:relative;
    font-size: 2vi;
    top:-45vi;
    width:45vi;
}

#score-list {
    position:relative;
    font-size: 2vi;
    top:39.5vi;
    left:19vi;
    width:45vi;
    list-style:none;
}

#time-list {
    position:relative;
    font-size: 2vi;
    top:19.5vi;
    left:40vi;
    width:45vi;
    list-style:none;
}



footer {
    margin-top:300px;
    text-align:center;
    margin-bottom:5vh;
} 