* {
    font-family: 'Press Start 2P', cursive;
    margin:0px;
    padding:0px;
}

body {
    background:black;
    color:white;
}


.bg-image {
    position:relative;
    max-width: 100%;
    max-height: 100%;
    z-index: -3;
}

.quiz-top{
    position:absolute;
    z-index: 3;
    left: 50%;
  transform: translate(-50%, -50%);
}


h1 { /* start menu */
    font-size:3vi;
    width:100%;
    top:25vi;
    text-align: center;
    animation: color-change 4s infinite;
    -webkit-text-stroke: 0.02em black;
}

@keyframes color-change {
    0% {color: red; }
    14.2% {color: orange; }
    28.57% {color: yellow; }
    42.85% {color: green; }
    57.05% {color: blue; }
    71.25% {color: indigo; }
    86% {color: violet; }
    100% {color: red; }
  }

#start-button {
    top:30vi;
    transform: translate(-50%, -50%);
    padding:15px;
    font-size: 1.5vw;
    color:white;
    border:none;
    background-color: transparent;
}

#start-button:hover {
    cursor: pointer;
}

h2 { /* question h2*/
    width:69%;
    line-height:1.3em;
    font-size:1.4vi;
    top:39vi;
}

.answerdiv { /* grid container that holds the answer buttons*/
    position:absolute;
    display:grid;
    width: 23vi;
    height: 16vi;
    grid-template-rows: 1fr 1fr 1fr 1fr fit-content(20%);
    top:25vi;
    transform: translate(-50%, -50%);
    left:50%;

    
}

.ans-button { /*individual answer buttons*/
    justify-content: center;
    cursor: pointer;
    /* margin:1.4vi; */
    font-size:1vi;
    background-color: transparent;
    border: none;
    color:white;
}

.ans-button:hover {
    cursor: pointer;
}

#timer {
    position:absolute;
    font-size: 1.5vw;
    top:15vi;
    right:14vi;
}

#score {
    position:absolute;
    font-size: 1.5vw;
    top:16vi;
    left:20vi;
}

footer {
    margin-top:300px;
    text-align:center;
    margin-bottom:5vh;
} 